<!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>
            <!-- Form contact -->

<%= simple_form_for(@franchiseform, html: { class: 'form' }) do |form| %>
<%= form.error_notification %>
<div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
<%= form.input_field :firstname, placeholder: 'First Name', autofocus: true, input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form3' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :middlename, placeholder: 'Middle Name', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :lastname, placeholder: 'Last Name', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :email, placeholder: 'E-mail', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :phone, placeholder: 'Phone Number', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :hearabout, placeholder: 'How Did You Hear About Us?', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :tellabout, placeholder: 'Tell Us About Yourself?', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :franchisesnum, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :franchiselocations, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :franchisetimeline, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :locationopenness, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :initialinvestment, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :fundsaccess, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :veteran, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :felon, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :lawsuits, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :bankruptcy, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :savings, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :homevalue, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :investmentsvalue, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :otherassetsvalue, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :totalassets, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :salary, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :otherincome, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :autobalance, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :mortgagebalance, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :otherdebtbalance, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :totalliabilities, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :networth, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :franchisefinancing, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :electronicsignature, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :agreement, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>

<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>