<!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>
            <!-- Form contact -->

<%= simple_form_for(@jobapp, html: { class: 'form' }) do |form| %>
<%= form.error_notification %>
<div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
<%= form.input_field :firstname, placeholder: 'Job Title', autofocus: true, input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form3' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :lastname, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :email, placeholder: 'Email', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :phonenumber, placeholder: 'Phone Number', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :addressline, placeholder: 'Address Line', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :city, placeholder: 'City', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :state, placeholder: 'State', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :zipcode, placeholder: 'Zip Code', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :minor, placeholder: 'Minor', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtarget, placeholder: 'Job Target', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtitle, placeholder: 'Job Title', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :joblocation, placeholder: 'Job Location', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :desiredsalary, placeholder: 'Desired Salary', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>	
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtarget2, placeholder: 'Job Target 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtitle2, placeholder: 'Job Title 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :joblocation2, placeholder: 'Job Location 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :desiredsalary2, placeholder: 'Desired Salary 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :employmentinformation, placeholder: 'Employment Information', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :citizen, placeholder: 'Citizen', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :authorized, placeholder: 'Authorized', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :previousjugojob, placeholder: 'Previous Jugo Job', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :previousjugojobdetails, placeholder: 'Previous Jugo Job Details', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :felony, placeholder: 'Felony', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :felonydetails, placeholder: 'Felony Details', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :schoolinformation, placeholder: 'School Information', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :highestlevelachieved, placeholder: 'Highest Level Achieved', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :schoolname, placeholder: 'School Name', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reference, placeholder: 'Reference', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reffullname, placeholder: 'Ref Full Name', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :relationship, placeholder: 'Relationship', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :refcompany, placeholder: 'Ref Company', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :refphone, placeholder: 'Ref Phone', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reference2, placeholder: 'Reference 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reffullname2, placeholder: 'Ref Full Name 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :relationship2, placeholder: 'Relationship 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :refcompany2, placeholder: 'Ref Company 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :refphone2, placeholder: 'Ref Phone 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :previousemployment, placeholder: 'Previous Employment', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :prevcompany, placeholder: 'Prev Company', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtitle, placeholder: 'Job Title', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :worknumber, placeholder: 'Work Number', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :responsibilities, placeholder: 'Responsibilities', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :employementstartdate, placeholder: 'Employment Start Date', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :employmentenddate, placeholder: 'Employment End Date', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reasonforleaving, placeholder: 'Reason for Leaving', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :previousemployment2, placeholder: 'Previous Employment 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :prevcompany2, placeholder: 'Prev Company 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :jobtitle2, placeholder: 'Job Title 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :worknumber2, placeholder: 'Work Number 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :responsibilities2, placeholder: 'Responsibilities 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :employementstartdate2, placeholder: 'Employment Start Date 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :employmentenddate2, placeholder: 'Employment End Date 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :reasonforleaving2, placeholder: 'Reason for Leaving 2', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :militaryservice, placeholder: 'Military Service', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :branch, placeholder: 'Branch', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :startdate, placeholder: 'Start Date', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :enddate, placeholder: 'End Date', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :dischargetype, placeholder: 'Discharge Type', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :dischargeexplanation, placeholder: 'Discharge Explanation', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :electronicsignature, placeholder: 'Electronic Signature', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>