<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jugo Juciery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Bootstrap tooltips -->
    <!--Google Maps-->
    <script src="https://maps.google.com/maps/api/js"></script>
  </head>

  <body class="hidden-sn white-skin">
    <!--Main Navigation-->
  <!--Double navigation-->
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav white">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
          <div class="logo-wrapper">
            <%= link_to root_path, class: "" do %>
       <img src="https://s3.amazonaws.com/ngpwebsite/jugoLogo.png" class="img-fluid flex-center" alt="">
       <% end %>
          </div>
          <div class="logo-wrapper"></div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">
            <li>
                                <%= link_to "ABOUT US", home_path, class: "collapsible-header waves-effect arrow-r"%>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"> MENU <i class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><%= link_to "Cold Pressed Juices", juices_path, class: "waves-effect" %>
                  </li>
                  <li><%= link_to "Smoothies", smoothies_path, class: "waves-effect" %>
                  </li>
                  <li><%= link_to "Bowls", bowls_path, class: "waves-effect" %>
                  </li>
                  <li><%= link_to "Coffee", coffee_path, class: "waves-effect" %>
                  </li>
                  <li><%= link_to "Catering", catering_path, class: "waves-effect" %>
                  </li>
                </ul>
              </div>
            </li>
                        <li>
                            <%= link_to "OUR TEAM", team_path, class: "collapsible-header waves-effect arrow-r"%>
                        </li>
                               
                        <li>
                            <%= link_to "LOCATIONS", locationsNhours_path, class: "collapsible-header waves-effect arrow-r" %>
                        </li>
                        <li>
                            <%= link_to "CAREERS", careers_path, class: "collapsible-header waves-effect arrow-r"%>
                        </li>
                        <li>
                            <%= link_to "FRANCHISE OPPORTUNITY", franchises_path, class: "collapsible-header waves-effect arrow-r"%>
                        </li>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <div class="mx-3">
        <%= link_to root_path, class: "navbar-brand" do %>
       <img src="https://s3.amazonaws.com/ngpwebsite/jugoLogo.png" height="60" class="animated jello d-inline-block" alt="">
       <% end %>
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/JUGOJUICERY"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/jugojuicery"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/jugojuicery?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
      </ul>
    </nav>
    <!-- /.Navbar -->
  <!--/.Double navigation-->
    <%= yield %>
    
    
    <!--Footer-->
    
    <!-- Google Maps settings -->
    
    <!-- Carousel options -->
    <%= javascript_include_tag 'application', media: 'all' %>
    <script>
    $('.carousel').carousel({
        interval: 5000,
    })
    </script>

  <script type="text/javascript">
  // SideNav Button Initialization
$(".button-collapse").sideNav();
// SideNav Scrollbar Initialization
var sideNavScrollbar = document.querySelector('.custom-scrollbar');
Ps.initialize(sideNavScrollbar);
</script>

  </body>
</html>
